<div class="d-block mx-auto col-sm-4">
  <div class="card" >
    <div class='picture' style="margin-top: 10px;">
      <img src="data:image/png;base64,<%=Base64.encode64(User.find(@user.id).pic.data)%>", class="img-fluid mx-auto d-block" >
    </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <% f.hidden_field :email, value: @user.email %>
  <% f.hidden_field :name, value: @user.name %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="card-body">
      <h3 class="card-title">Change <%= @user.name %> password</h3>
  <div class="input-group">
    <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
  </div>

  <div class="input-group">
    <%= f.password_field :password_confirmation, placeholder: "Password confirm", autocomplete: "off" %>
  </div>

  <div class="input-group">
    <%= f.password_field :current_password, placeholder: "Current password", autocomplete: "off" %>
  </div>
<hr>
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-danger"%></p>

<%= link_to "Back", :back, class: "btn btn-primary" %>
