      <p>
        <h3><strong>Project: <%= @project.project_name %> </strong></h3>
      </p>
      <hr>
<%= simple_form_for([@project,@task]) do |f| %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <p><%= f.input :theme %></p>
      </br>
      <hr>
      <p>
        <%= f.input :description %>
      </p>
      <hr>
    <div class="card">
        <div class="card-header"><b>Coments:</b></div>
          <%= f.input :coment, as: :text, label: false %>
          <%= f.hidden_field :description, value: @task.description  %>
          <div class="col-sm4"><%= f.button :submit, "Add Coment", :class => 'btn btn-success btn-mini' %></div>
          <hr>
            <% i = 0;@task.coments.reject(&:empty?).reverse.each do |comment| %>

              <div class="card-body"><%= comment %></div>
              <% i+=1;if i != (@task.coments.reject(&:empty?).count) %>
              <hr>
              <%end%>
           

        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
    </br >
      <p>
        <strong>Type:</strong>
        <%= f.input :task_type, collection: @task_type, label: false %>
      </p>
      <hr>
      <p>
        <strong>Priority:</strong>
        <%= f.input :task_priority, collection: @task_priority, label: false %>
      </p>

      <hr>
      <div class="card">
        <div class="card-header"><b>Contributor(s):</b></div>

        <div class="card-body">
          <%= f.input :user_id, collection: User.all.map{|i| [i.name, i.id.as_json.values[0]]}, input_html: { multiple: true } %>
          </div>

      </div>

      <hr>
      <p>
        <strong>Logs:</strong>
        <%= @task.logs %>
      </p>
      <hr>
    <div class="input-daterange input-group" id="datepicker">
      <%= f.text_field :estimate_time, value: Date.today, class: "input-sm form-control"%>
      <div class="input-group-addon">to</div>
      <%= f.text_field :teken_time, value: Date.tomorrow, class: "input-sm form-control"%>
    </div>
    <hr>
    <div class="col-sm4"><%= f.button :submit, "Save", :class => 'btn btn-success btn-mini' %></div>
     <% end %>
  </div>
</div>


<script >
  var date = new Date();
  var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
  (function() {
    $(document).on('turbolinks:load', function() {
      return $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        todayBtn: true,
        daysOfWeekHighlighted: '0,6',
        todayHighlight: true,
        autoclose: true,
        startDate: today,
        orientation: "auto left"
      });
    });
  }).call(this);
</script>