
<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Theme</th>
      <th>Description</th>
      <th>Date range</th>
      <th>Task type</th>
      <th>Task priority</th>
      <th>Tame estimate</th>
      <th>Coments</th>
      <th>User</th>
      <th>Creator</th>
      <th>Project</th>
      <th>Logs</th>
      <th>Teken time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.theme %></td>
        <td><%= task.description %></td>
        <td><%= task.date_range %></td>
        <td><%= task.task_type %></td>
        <td><%= task.task_priority %></td>
        <td><%= task.time_estimate %></td>
        <td><%= task.coments %></td>
        <td><%= task.user_id %></td>
        <td><%= task.creator %></td>
        <td><%= task.project_id %></td>
        <td><%= task.logs %></td>
        <td><%= task.teken_time %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
