<h1>Tasks</h1>


    
    <div class="py-5">
      <div class="container">
        <div class="row">
          <% @tasks.each do |task| %>

          <div class="col-md-3">

            <div class="card">
             <dev style="background-color: black;color:white;"><center> <%= "FINISHED" if task.logs.last == "Fixed" %></center></dev>
             <img src="data:image/png;base64,<%=Base64.encode64(task.pic.data)%>", class="img-fluid rounded-circle w-2 mx-auto mt-3 mx-auto d-block" >
             <div class="card-body">
              <h4 class="card-title"><%= link_to "#{task.theme}", task %></h4>
              <p class=""><b>Executors: </b><%= p "#{User.find(task.user_id).map{|i|i.name}.join(',')}\n" %></p>
              <a><b>Task Type: </b><%= Hash[@task_type].key(task.task_type) %></a>
              <a class="text-center"><b>Task Priroity: </b><%= Hash[@task_priority].key(task.task_priority) %></a></br>
              <a class="text-bottom"><b>Task Owner: </b><%= User.find(task.creator).name %></a></br>
              <a class="text-bottom"><b>Task deadline: </b><%= task.date_range.max %></a></br>
            </div>
          </div>
        </div>

        <%end%>
      </div>
    </div>
  </div>
