  <% front_color = ["4d8400", "847900", "844400", "842100", "510000"]%>
  <% back_color = ["e6f6cf", "f6f4cf", "f6dfcf", "f98989", "b74040"] %>
  <% log = ["Open", "Submited", "In Review", "Fixed"] %>
  <%= simple_nested_form_for(@task) do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <p>
          <h3><strong>Project: <%= Project.find(@task.project_id).project_name %></strong></h3>
        </p>
        <p>Autor: <%= User.find(@task.creator).name %></p>
        <div class="card">
          <div class="card-header"><b>Contributor(s):</b></div>
          <% users =  @users.map{|i| i}; users << current_user unless @users.include?(current_user)%>
          <div class="card-body"><%= f.input :user_id, collection: users.map{|i| [i.name, i.id.as_json.values[0]]}, input_html: { multiple: true } %></div>
        </div>

        <hr>
        <div class="card">
          <div class="card-header"><b>Coments:</b></div>
          <%= f.input :coment, as: :text, label: false %>
          <%= f.hidden_field :theme, value: @task.theme  %>
          <%= f.hidden_field :task_type, value: @task.task_type  %>
          <%= f.hidden_field :task_priority, value: @task.task_priority  %>
          <%= f.hidden_field :description, value: @task.description  %>
          <div class="col-sm4"><%= f.button :submit, "Add Coment", :class => 'btn btn-success btn-mini' %></div>
          <hr>
          <% i = 0;@task.coments.reject(&:empty?).reverse.each do |comment| %>

          <div class="card-body"><b><%= comment %></b></div>
          <% i+=1;if i != (@task.coments.reject(&:empty?).count) %>
          <hr>
          <%end%>


          <% end %>
        </div>
      </div>
      <div class="col-sm-4">
        <% if @task.logs.last == "Fixed" %>
        <h3><strong>Task: <%= @task.theme %>  </strong></h3>
        <h2 style="background-color: black;color:white;"><%= "Is finished and #{((@task.teken_time.to_time - @task.estimate_time.to_time) / 1.hours).to_i} are hour spent"  %> </h2>
        <%elsif @task.teken_time.to_time > Time.now%>
        <h3><strong>Task: <%= @task.theme %></strong></h3>
        <h2 style="background-color: #D1ECF1;"><%= "#{((@task.teken_time.to_time - @task.estimate_time.to_time) / 1.hours).to_i} hours left"  %></h2>
        <%elsif @task.teken_time.to_time < Time.now %>
        <h3><strong>Task: <%= @task.theme %></strong>  </h3>
        <h2 style="background-color:#efd0d0; color:#510000;"><%= "#{((@task.teken_time.to_time - @task.estimate_time.to_time) / 1.hours).to_i} hours passed"  %> </h2>
        <%end%>

      </br>

      <%= render partial: "layouts/pic_task", locals: {id: @task.id} %>

      <div class="row d-none">
        <%= button_to 'Edit', edit_task_path(@task), method: :get, class: "btn btn-secondary m-2" %>
        <%= button_to 'Back', project_tasks_path(Project.find(@task.project_id)), method: :get, class: "btn btn-secondary m-2" %>
      </div>
      <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-secondary m-2" %>
      <p>
        <%= @task.description %>
      </p>
      <hr>
      <p>
        <strong>Type:</strong>
        <%= Hash[@task_type].key(@task.task_type) %>
      </p>
      <hr>
      <p>
        <strong>Priority:</strong>
        <div class="col-sm4" style="background-color:#<%= back_color.reverse[@task.task_priority]%> !important;">
          <div style="overflow:hidden;color:#<%= front_color.reverse[@task.task_priority]%> !important;">
            <%= Hash[@task_priority].key(@task.task_priority) %>
          </div>
        </div>
      </p>

      <hr>

      <p>
        <strong>Logs:</strong>
        <%= f.input :log, collection: @log, label: false, selected: @task.logs.last%>
      </p>
      <hr>
      <div class="card">
        <div class="card-header"><b>Sprint</b></div>
        <div class="card-body">

          <hr>
          <p>Select start to end date of task</p>
          <div class="input-daterange input-group" id="datepicker">
            <%= f.text_field :estimate_time, value: @task.estimate_time, class: "input-sm form-control"%>
            <div class="input-group-addon"> to </div>
            <%= f.text_field :teken_time, value: @task.teken_time, class: "input-sm form-control"%>
          </div>
          <hr>
          <p>Select start to end time of task</p>
          <div class="input-daterange input-group">
            <div class="form-inputs"><%= f.time_select :time_start, value: @estimate_time_to_form, class: "input-sm form-control"%></div>
            <div class="input-group-addon"> to </div>
            <div class="form-inputs"><%= f.time_select :time, value: @teken_time_to_form, class: "input-sm form-control"%></div>
          </div>

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm4"><%= f.button :submit, "Save", :class => 'btn btn-success btn-mini m-2' %></div>
        <%= button_to 'Delete Task', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' },class: "col-sm4 btn btn-danger m-2" %>
      </div>
      <% end %>
    </div>
  </div>

  <ul class="breadcrumb" >
    <li class="breadcrumb-item">
      <%= link_to "Projects", user_projects_path(@user, @project) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to Project.find(@task.project_id).project_name, project_path(Project.find(@task.project_id)) %>
    </li>
    <li class="breadcrumb-item">
      <a href="#"><%= @task.theme %></a>
    </li>
  </ul>
  <script >
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    (function() {
      $(document).on('turbolinks:load', function() {
        return $('#datepicker').datepicker({
          format: 'yyyy-mm-dd',
          todayBtn: true,
          daysOfWeekHighlighted: '0,6',
          todayHighlight: true,
          autoclose: true,
          startDate: today,
          orientation: "auto left"
        });
      });
    }).call(this);

  </script>
