<%= simple_nested_form_for [@user,@project], html: { class: 'form-inline' } do |form| %>
  <div class="field">
    <%= form.label :project_name %>
    <%= form.text_field :project_name, id: :project_project_name %>
  </div>

  <div class="field">
    <%= form.label :tasks %>
    <%= form.text_field :tasks, id: :project_tasks %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>
<%= form.hidden_field :user_id, value: current_user.id %>
<%= form.hidden_field :uid, value: SecureRandom.uuid %>

  <div class="actions">
    <p><%= form.link_to_add "Submit", :project %></p>
  </div>
<% end %>
