<%= form_with url: [@user,@project], action: :create, remote: true do |f| %>
<% if @project.errors.any? %>
<div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this @project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <% end -%>
  <div class="form-inputs">
  <div class="field">
    <%= f.label :project_name %>
    <%= f.text_field :project_name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "tinymce", :rows => 10, :cols => 20%>
  </div>

    <%= f.hidden_field :id, value: @project.id%>
    <%= f.hidden_field :uid, value: @project.uid%>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>

<% end %>
<%= tinymce %>