<%= form_with url: @project, action: :update,method: :put, uid: File.read('tmp/uid'), remote: false do |f| %>
<% if @project.errors.any? %>
<div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this @project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <% end -%>
  
  <div class="form-inputs">
    <%= f.label :project_name %>
    <%= f.text_field :project_name, value: @project.project_name %>
  </div>
    <div class="form-inputs" %>
    <%= f.select :user,
                  User.all.map{|i| [i.name, i.id.as_json.values[0]]},
                  { :prompt => "Please select", :selected => @project.user_ids},
                  { :multiple => true, :size => 5, :class => "input-sm form-control" }
                     %>
  </div>
  <div class="form-inputs">
    <%= f.label :description %>
    <%= f.text_area :description, value: @project.description, :class => "tinymce", :rows => 10, :cols => 20%>
  </div>

    <%= f.hidden_field :id, value: @project.id%>

  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>

<% end %>
<%= link_to 'Show', @project %> |
<%= link_to 'Back', user_projects_path(@user) %>

<%= tinymce %>
