
<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Task</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.project_name %></td>
        <td><%= project.tasks %></td>
        <td><%= User.find(project.user_id).name %></td>
        <td><%= link_to 'Show', user_project_path(@user, project) %></td>
        <td><%= link_to 'Edit', edit_user_project_path(@user, project) %></td>
        <td><%= link_to 'Destroy', ([@user, project]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_user_project_path(@user, @project) %>
