<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @project.project_name %>
</p>

<p>
  <strong>Tasks:</strong>
  <%= @tasks.map { |e|e.theme  }.join(',') %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @project.uid %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

 <%= render :template => 'tasks/index' %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', user_projects_path(@user) %>
